/* .hero img {
    width: 100%;
    height: auto;
  } */



.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } /* Just be mindful of the art direction with the responsive results (https://codepen.io/BYU-Idaho/pen/gbYmqoy) */