@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}

	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}

	.navigation li {
		display: block;
		/* change state in small view */
		flex: 1 1 100%;
	}

	nav a {
		text-align: center;
	}

	#menu {
		display: none;
	}
}

@media (min-width: 850px) {
	.temple-cards {
		grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
		max-width: none !important;
	}
	
	.card img {
		height: 250px;
	}
}